/**
 * Hand-coded with ❤️ by James Perih, Four and a Half Giraffes, Ltd.
 * Note: mobile-first
 */
 @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
 @import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css');

:root {
    /* --main-bg: #17181a; */
    --main-bg: #27272f;
    --primary-font: 'Montserrat', sans-serif;
    --secondary-bg: ghostwhite;
}

@keyframes fadeEffect {
    from {opacity: 0;}
    to {opacity: 1;}
}

input[type="text"] {
    border: 1px solid #fff;
    border-radius: 8px;
    background-color: var(--main-bg);
    font-size: 2rem;
    padding: 8px;
    color: var(--secondary-bg);
    text-align: center;
}

body {
    color: var(--main-bg);
    align-items: center;
    animation: fadeEffect 2s;
    /* background-color: var(--main-bg); */
    display: flex;
    flex-direction: column;
    font-family: var(--primary-font);
    justify-content: space-between;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    text-align: center;
}

button {
    height: 64px;
    width: 250px;
    padding: 8px 32px;
    border: thin solid var(--secondary-bg);
    border-radius: 16px;
    background-color: var(--main-bg);
    color: var(--secondary-bg);
    font-size: 1.8rem;
}

#controls {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#controls-secondary button {
    font-size: 1rem;
    height: 44px;
    width: initial;
}

#count {
    font-size: 8rem;
}

footer {
    background-color: var(--main-bg);
    width: 100%;
    padding: 0;
    margin: 0;
    height: 80px;
}

img.logo {
    width: 60vw;
    height: auto;
}

.masthead {
    width: 60vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

li {
    text-align: left;
    font-size: 0.6rem;
}

.postmark {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;
    color: var(--secondary-bg);
    font-size: 0.4rem;
}

.postmark a {
    color: var(--secondary-bg);
    text-decoration: none;
}

/* For larger displays */
@media only screen and (min-width: 415px) {
    img.logo {
        width: 64px;
    }
    
    button {
        padding: 8px 64px;
        font-size: 1.8rem;
    }

    .masthead {
        flex-direction: row;
    }
}